@import url("https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #023293;
  --primary-color-dark: #021f66;
  --secondary-color: #0263ea;
  --color-secondary-light: #d0e1fc;
  --color-dark: #333;
  --color-neutral: #8d8d8d;
  --color-muted: #c4c4c4;
  --color-neutral-light: #f4f4f4;
  --color-red: #e63946;
  --color-red-dark: #b02a34;
  --color-red-light: #f7c6c9;
  --color-green: #2a9d8f;
  --color-green-dark: #1f6f6b;
  --color-green-light: #b7e4e1;
}
body {
  font-family: "Stack Sans Text", sans-serif;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: var(--color-dark);
}

p {
  font-weight: 300;
}

button {
  outline-color: transparent;
  border: 0px;
  background: 0px;
  cursor: pointer;
  padding: 5px 10px;
  transition: all 0.1s ease-in;
}

main {
  /*border: 1px solid red;*/
  margin-top: 40px;
  width: min(90%, 500px);
  padding: 20px;
}

header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 20px;
  /*border: 3px solid green;*/
  h1 {
    font-size: 1.1rem;
    font-weight: 500;
  }
  p {
    font-weight: 200;
    font-size: 0.85rem;
  }
}

[id*="btn"] {
  padding: 8px 14px;
  border-radius: 5px;
  font-weight: 500;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  &:disabled,
  &:disabled:hover {
    background-color: var(--color-neutral-light);
    color: var(--color-muted);
    cursor: not-allowed;
  }
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

#result {
  border-radius: 8px;
  padding: 8px 16px;
  border: 1px solid var(--color-neutral-light);
  background-color: #fff;
  color: var(--color-dark);
  margin: auto;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.09);
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color-dark);
  color: #fff;
  &[data-remark="pass"] {
    #result-remark {
      background-color: var(--color-green);
    }
  }
  &[data-remark="fail"] {
    #result-remark {
      background-color: var(--color-red);
    }
  }
}

#result-remark {
  color: #fff;
  font-size: 0.75rem;
  padding: 4px 14px;
  border-radius: 50px;
  font-weight: 500;
}

#score-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

#result-score {
  font-size: 1.8rem;
  font-weight: bold;
}

#question-section {
  /*border: 1px solid purple;*/
  margin-top: 1rem;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 15px;
  font-size: 0.9rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  div#question-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    p {
      color: var(--color-neutral);
    }
    button {
      color: var(--color-red);
      font-weight: 500;
      border-radius: 10px;
      &:hover {
        background: var(--color-red);
        color: #fff;
      }
    }
  }
  article {
    display: flex;
    flex-direction: column;
    gap: 16px;
    h2 {
      font-size: 1rem;
      font-weight: normal;
      margin-top: 16px;
    }
    div {
      /*border: 1px solid red;*/
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 1rem;
      button {
        width: 100%;
        text-align: left;
        padding: 12px 16px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
        border: 1px solid var(--color-neutral-light);
        border-radius: 8px;
        &[data-selected="true"] {
          background-color: var(--primary-color);
          color: #fff;
        }
        &:hover {
          background-color: var(--secondary-color);
          color: #fff;
        }
      }
    }
  }
  aside {
    margin-top: 20px;
    color: var(--secondary-color);
    font-size: 0.75rem;
    p {
      font-weight: 300;
      span {
        padding: 5px;
        font-weight: 500;
        cursor: default;
        &:hover {
          color: var(--color-red);
        }
      }
    }
  }
}

footer {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  #submit-btn {
    background-color: var(--color-red);
    color: #fff;
    &:hover {
      background-color: var(--color-red-dark);
    }
    &:disabled {
      background-color: var(--color-neutral-light);
      color: var(--color-muted);
    }
  }

  nav {
    display: flex;
    gap: 20px;
    align-items: center;
    color: #fff;
    width: 50%;
    button {
      background-color: var(--primary-color);
      color: #fff;
      &:hover {
        background-color: var(--secondary-color);
      }
    }
  }
}
